body {
	padding: 0px;
	margin: 0px;
	background-image: url('body_bg.png');
}

div.content {
	margin: 5%;
}

div#board {
	background-image: url('board_bg.png');
	overflow: auto;
	overflow-y: visible;
	min-width: 800px;
	width: 100%;
	height: 75%;
	border: 1px solid #848388;
}

input#inp {
	border:solid 1px #848388;
	position: relative;
	float: left;
	width: 88%;
	height: 25px;
	margin-top: 5px;
	padding: 0 3px 0 3px;
	min-width: 450px;
	font-family: 'Monospace';
	font-size: 14px;
}

button#but {
	border:solid 1px #848388;
	position: relative;
	float: right;
	width: 11%;
	height: 25px;
	margin-top: 5px;
	min-width: 100px;
}

span.message {
	margin-left: 10px;
}

span.sender_name {
	font-weight: bold;
}

div.time, div.sender, div.chat{
	position: relative;
	float: left;
}

div.row {
	width: 100%;
	font-family: 'Monospace';
	font-size: 14px;
	text-shadow: 0px 1px 1px #c5c5c5;
}

div.header, div.footer {
	height: 50px;
}
